@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 2em;
  font-weight: 400;
}

h2{
  font-size: 1.5em;
  font-weight: 400;
}



.txtnuoroda {
  margin: 50px 0 0;
}

.tarpasApacia {
  margin-bottom: 20px;
}

.laukoBlokas {
  width: 80%;
  margin: auto;
}

.blokoApacia {
  margin-bottom: 50px;
}

.laukoBlokasAdmin {
  width: 90%;
  margin: auto;
}

@media only screen and (min-width: 767px) {
  .laukoBlokas {
    width: 70%;
  }
  .laukoBlokasAdmin {
    width: 80%;
  }
}

@media screen and (min-width: 991px) {
  .laukoBlokas {
    width: 50%;
  }
  .laukoBlokasAdmin {
    width: 60%;
  }
}

.sarasaCon {
  margin-top: 20px;
  margin-bottom: 10px;
}


.laukas {
  width: 100%;
  height: 30px;
  font-size: 0.9em;
  margin-bottom: 10px;
  border: 1px solid #000;
}

.rezdata {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}

.rezLaikas {
  display: inline-block;
  width: 60px;
}

.rezVardas {
  display: inline-block;
  width: 80px
}

.rezTelefonas {
  display: inline-block;
  width: 90px;
}

.rezPaslauga {
  display: inline-block;
}

.radio {
  margin: auto;
}



.mygtukas {
  padding: 10px;
  background: #536DFE;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9em;
  border: none;
  margin-right: 5px;
}

  .mygtukas:hover {
    background: rgb(66, 86, 201);
  }

  .pridMyg {
    margin-top: -38px;
    float: right;
  }

.checkBgOff{
  margin-bottom: 5px;
  padding: 10px;
}

.checkBgOff:hover{
  background: #FFC107;
  color: #fff;
}

.checkBgOn {
  margin-bottom: 5px;
  background: #BDBDBD;
  color: rgb(126, 126, 126);
}

input::placeholder{
  padding-left:10px;
}

input[type="radio"],
input[type="checkbox"]{
  display: none;
}

label .select {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
}

input:checked + label {
    background: #FFC107;
    color: #fff;
    margin: 10px auto;
    padding: 10px 0px;
}

.pas {
  margin-bottom: 5px;
}

.paslauga:hover {
  background: #FFC107;
  padding: 10px 0;
  color: #fff;
}

.tarpasVirsuje {
  margin-top: 30px;
}

.sarasasEil {
    display: flex;
}

#pridetiPop {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  #pridetiCon {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }